/* Estilo general para el cuerpo */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background: linear-gradient(to bottom right, #f5f7fa, #c3cfe2);
}

/* Encabezado */
header {
  width: 100%;
  background-color: #4a90e2;
  color: white;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
  margin: 0;
  font-size: 28px;
}

/* Estilo general para los menús */
.menu {
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.menu h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  margin-bottom: 10px;
}

.menu ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #333;
  background-color: #fff; /* Fondo blanco para mayor visibilidad */
  padding: 10px 15px; /* Espaciado extra */
  border-radius: 5px; /* Bordes redondeados */
  display: inline-block; /* Asegura que ocupe el espacio esperado */
  transition: background-color 0.3s ease, color 0.3s ease;
}

.menu ul li a:hover {
  color: #fff; /* Cambia el texto a blanco */
  background-color: #4a90e2; /* Cambia el fondo al color principal */
}

/* Menú del Administrador */
.admin-menu {
  background-color: #F7F2F1; /* Blanco */
  border: 2px solid #64E464; /* Verde más oscuro */
}

/* Menú del Vendedor */
.seller-menu {
  background-color: #F7F2F1; /* Blanco */
  border: 2px solid #A955C1; /* Morado oscuro */
}

/* Botón de Cerrar Sesión */
.logout-btn {
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 20px;
}

.logout-btn:hover {
  background-color: #357ABD; /* Azul más oscuro */
  transform: scale(1.05);
}
